.cardOutline {
    width: 200px;
    margin: 10px;
    height: 200px;
    padding: 30px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    font-size: 1.5rem;
}

.cardContainer {
    display: flex;
    padding: 100px;
    flex-wrap: wrap;
    justify-content: center;
    
   
}

.card-link:hover {
    color: var(--red-3);
}